@{
    String currentAction = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    String classActiveStr = "class=active";
}
<h3>團購系統</h3>
<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 ">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" @(currentAction.Contains("CreateGroupBuy") ? classActiveStr : "")><a href="/GroupBuy/CreateGroupBuy">我要開團</a></li>
            <li role="presentation" @(currentAction.Contains("CurrentGroupBuy") ? classActiveStr : "")><a href="/GroupBuy/CurrentGroupBuy">當前團購列表</a></li>
            <li role="presentation" @(currentAction.Contains("StoreManagement") ? classActiveStr : "")><a href="/GroupBuy/StoreManagement">店家管理</a></li>
        </ul>
    </div>
</div>