@{
    String currentAction = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    String classActiveStr = "class=active";
}
<div>
    <div class="col-sm-6">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" @(currentAction == "CreateGroupBuy" ? classActiveStr : "")><a href="CreateGroupBuy">我要開團</a></li>
            <li role="presentation" @(currentAction == "GroupBuyList" ? classActiveStr : "")><a href="GroupBuyList">當前團購列表</a></li>
            <li role="presentation" @(currentAction == "StoreManagement" ? classActiveStr : "")><a href="StoreManagement">店家管理</a></li>
        </ul>
    </div>
</div>