@{
    ViewBag.Title = "CreateGroupBuy";
}

@Html.Partial("_GroupBuyNav")
<div>
    <div class="col-sm-12 col-md-10 col-lg-8">
        <form class="form-horizontal create-groupbuy-form" role="form">
            <div class="form-group">
                <label for="exampleInputEmail1">描述</label>
                <input type="text" class="form-control" name="StoreName" placeholder="請輸入描述"  >
                <label for="exampleInputEmail1">店家</label>
                <div>
                    <button type="button" class="btn btn-primary">選擇商家</button>
                </div>
                <label for="exampleInputEmail1">結束時間</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                    <button type="submit" class="btn btn-default">新增</button>
            </div>
</form>
    </div>
</div>
@section scripts
{
<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
}