
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print</title>
    @Styles.Render("~/Content/css")
    
</head>
<body>
    <div id="content"></div>
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/appjsx")
   
</body>
</html>
