
@{
    ViewBag.Title = "StoreManagementMenu";
}
@Html.Partial("_GroupBuyNav")



<div id="content"></div>

@section scripts{
    <script>
        App.StoreManagementMenuInit(document.getElementById("content"));
    </script>
}
